<div class="wrapper">
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <h2>Recipes</h2>
      </div>
    </div>
    <div class="row my-2" *ngFor="let recipe of recipes">
      <div class="col">
        <div class="card">
          <div class="row g-0">
            <div class="col-12 col-md-5 col-lg-4 p-3">
              <img src="{{recipe.img}}" class="img-fluid w-100" alt="card-horizontal-image">
            </div>
            <div class="col-12 col-md-7 col-lg-8">
              <div class="card-body">
                <h5 class="card-title">{{recipe.name}}</h5>
                <p class="card-text" style="white-space: pre-line;">{{recipe.desc}}</p>
                <button class="btn btn-primary me-2"><a class="text-decoration-none text-light" [routerLink]="['/edit-recipe', recipe._id]">Update</a></button>
                <button class="btn btn-danger" (click)="onDelete(recipe._id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="mb-2 btn btn-outline-dark" routerLink="/create-recipe" aria-current="page">Create New recipe</a>
  </div>
</div>