<div class="wrapper">
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <h2>Recipes</h2>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
      <div class="col col-xl-4 d-flex" *ngFor="let recipe of recipes">
        <div class="r-card">
          <a class="r-card-link" [routerLink]="['/detail-recipe', recipe._id]">
            <img src="{{ recipe.img }}" class="r-card-img" alt="recipe-image" />
          </a>
          <div class="r-card-body">
            <h5 class="r-card-title">{{ recipe.name }}</h5>
            <p class="r-card-text">{{ recipe.desc | truncate : 100 }}</p>

            <div class="r-card-btns" *ngIf="auth">
              <div type="button">
                <a
                  class="text-decoration-none text-light"
                  [routerLink]="['/edit-recipe', recipe._id]"
                  ><img class="icon" src="/assets/icons/edit.svg" alt="edit"
                /></a>
              </div>
              <div type="button" (click)="onDelete(recipe._id)">
                <img class="icon" src="/assets/icons/trash.svg" alt="share" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
