<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{{recipe.img}}" class="mx-auto d-block rounded-3" style="width:50%" alt="recipe-image">
      </div>
    </div>
    <div class="row">
      <div class="col rounded-3 bg-success mt-4">
        <h2 class=" text-light p-3">{{recipe.name}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5 class="mt-md-3">Updated: 1 May 2023</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Ingredients</h2>
        <p>1/2 sugar</p>
        <h2>Tips</h2>
        <p>Be careful</p>
      </div>
      <div class="col">
        <h2>Directions</h2>
        <p style="white-space: pre-line;">{{recipe.desc}}</p>

      </div>
    </div>
  </div>
</div>