<footer class="container-fluid">
  <section>
    <div class="container-left">
      <p class="h5 mb-5">Who are we?</p>
      <p class="h5 mb-5">
        We're Code Cooks, a team of six tech enthusiasts united by a love for
        coding and cooking. Our mission is to blend technology with the culinary
        world, making home cooking a breeze. With our platform, we aim to
        connect food lovers and home cooks, sharing recipes and fostering a
        community of culinary creativity. We cook up tech solutions as tasty as
        your favorite dish!
      </p>
      <p class="h5">Copyright © Code Cooks 2023</p>
    </div>
    <div class="container-right">
      <div>
        <a href="/"
          ><img class="icon" src="/assets/icons/home.svg" alt="home"
        /></a>
        <a href="mailto:codecook@kk.com"
          ><img class="icon" src="/assets/icons/mail.svg" alt="mail"
        /></a>
        <a href="www.facebook.com"
          ><img class="icon" src="/assets/icons/share2.svg" alt="share"
        /></a>
      </div>
    </div>
  </section>
</footer>
