<section>
  <div class="text-center mb-4">
    <h1 class="black">Sign Up</h1>
  </div>
  <div class="d-flex justify-content-center">
    <form #f="ngForm" (ngSubmit)="onSignUp()" class="main-form">
      <label>
        <span>Username:</span>
        <input
          type="text"
          name="username"
          class="form-control"
          placeholder="User Name"
          ngModel
          #username="ngModel"
          required
        />
      </label>
      <span class="text-danger" *ngIf="!username.valid && username.touched"
        >Enter valid User Name</span
      >
      <label>
        <span>Password:</span>
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Password"
          ngModel
          #password="ngModel"
          required
        />
      </label>
      <span class="text-danger" *ngIf="!password.valid && password.touched"
        >Enter valid Password
      </span>
      <label>
        <span>Email:</span>
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="Email"
          ngModel
          email
          #email="ngModel"
          required
        />
      </label>
      <span class="text-danger" *ngIf="!email.valid && email.touched"
        >Enter valid email
      </span>
      <div class="d-flex justify-content-end align-items-end">
        <a class="log" routerLink="/login">Login Now</a>
        <button type="submit" class="button-3" [disabled]="f.invalid">
          Sign Up
        </button>
      </div>
    </form>
  </div>
</section>
