<header>
  <nav class="header-container">
    <a class="" routerLink="/">
      <img src="../../../assets/images/logo.png" alt="Codecook" />
    </a>
    <!--If the user does not login-->
    <div class="header-items" *ngIf="!auth">
      <a class="header-item" routerLink="/login">Login</a>
      <a class="header-item" routerLink="/signup">Register</a>
    </div>
    <div class="header-items" *ngIf="auth">
      <a class="header-item" routerLink="/profile"
        ><img class="icon" src="/assets/icons/profile.svg" alt="profile"
      /></a>
      <a class="header-item" routerLink="/create-recipe">New recipe</a>
      <div type="button" class="header-item" (click)="onLogout()">Logout</div>
    </div>
  </nav>
</header>
