@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* You can add global styles to this file, and also import other style files */
@import "variables.scss";
p,
h4,
h5,
h6,
h1,
h2,
h3 {
  color: $black;
}

p,h5,h4,h3,h2,h1,a,li,span,div,input,textarea,button,select {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

section {
  max-width: 714px;
  width: 100%;
  margin: 0 auto;
}

nav {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: $snow;
}

a {
  color: $orange;
  text-decoration: underline;
  &:hover {
    color: $navy;
  }
}

p,
.p {
  font-weight: 400;
  font-size: 15px;
}

h5,
.h5 {
  font-weight: 400;
  font-size: 16px;
}

h4,
.h4 {
  font-size: 17px;
}

h3,
.h3 {
  font-size: 22px;
}

h2,
.h2 {
  font-size: 27px;
}

h1,
.h1 {
  font-size: 34px;
}

.black {
  color: $black;
}

.green {
  color: $green;
}

.navy {
  color: $navy;
}

.gray {
  color: $gray;
}

.white {
  color: $white;
}

.pink {
  color: $pink;
}

.orange {
  color: $orange;
}

.snow {
  color: $snow;
}

.rain {
  color: $rain;
}
