@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* You can add global styles to this file, and also import other style files */
@import "variables.scss";
p,
h4,
h5,
h6,
h1,
h2,
h3 {
  color: $black;
}

p,
h5,
h4,
h3,
h2,
h1,
a,
li,
span,
div,
input,
textarea,
button,
select {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

section {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

nav {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: $snow;
}

a {
  color: $orange;
  text-decoration: underline;
  &:hover {
    color: $navy;
  }
}

p,
.p {
  font-weight: 400;
  font-size: 15px;
}

h5,
.h5 {
  font-weight: 400;
  font-size: 16px;
}

h4,
.h4 {
  font-size: 17px;
}

h3,
.h3 {
  font-size: 22px;
}

h2,
.h2 {
  font-size: 27px;
}

h1,
.h1 {
  font-size: 34px;
}

.black {
  color: $black;
}

.green {
  color: $green;
}

.navy {
  color: $navy;
}

.gray {
  color: $gray;
}

.white {
  color: $white;
}

.pink {
  color: $pink;
}

.orange {
  color: $orange;
}

.snow {
  color: $snow;
}

.rain {
  color: $rain;
}

.button-1 {
  border: none;
  background-color: $orange;
  overflow: hidden;
  border-radius:35px;
  color: $white;
  font-weight: 500;
  font-size: 28px;
  text-decoration: none;
  padding: 7px 45px;
}

.search-bar {
  background-color: $navy;
  height: 61px;
  width: 100%;
  position: relative;
  border-radius: 5px 28px 28px 28px;

  form {
    display: flex;
    justify-content: center;
  }

  button {
    height: 46px;
    width: 46px;
    border: none;
    border-radius: 100%;
    position: absolute;
    right: 9px;
    top: 7px;
  }

  input {
    border: none;
    margin-top: 8px;
    height: 46px;
    width: 522px;
    background: $white;

    &::placeholder {
      font-size: 22px;
      color: $black;
      padding-left: 27px;
    }
  }
}