<section>
  <div class="welcome-block mb-5">
    <img
      src="../../assets/images/wdy050121nationalmonth-003-1621446470.jpg"
      alt="img-fluid"
      class="welcome-block__img"
    />
    <span class="welcome-block__backdrop"></span>
    <div class="welcome-block__text">
      <h1 class="welcome-block__h1 mb-2">Unique Food Recipe</h1>
      <h3 class="welcome-block__h3 mb-4">Cooking your own delicious food</h3>
      <a class="welcome-block__a button-1" href="#recipeList">View Recipe</a>
    </div>
  </div>
  <div class="search-bar">
    <form #f="ngForm" (ngSubmit)="onSearch()">
      <input
        class=""
        type="text"
        placeholder="Find Your Recipes..."
        name="name"
        id="search-name"
        ngModel
      />
      <button type="submit" class="">
        <img class="icon" src="/assets/icons/magnify.svg" alt="share" />
      </button>
    </form>
  </div>
  <app-recipe-list id="recipeList"></app-recipe-list>
</section>
